<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>SoundPro</string>
	<key>CFBundleIdentifier</key>
	<string>jmri.SoundPro</string>
	<key>CFBundleIconFile</key>
	<string>soundpro.icns</string>
	<key>CFBundleSignature</key>
	<string>JMRS</string>
    <key>CFBundleShortVersionString</key>
    <string>2.12</string>
    <key>CFBundleLongVersionString</key>
    <string>2.12, Copyright 1998-2012 JMRI Project</string>
    <key>CFBundleGetInfoString</key>
    <string>SoundPro 2.12, Copyright 1998-2012 JMRI Project</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>StartJMRI</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>1.0d1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
