# From https://github.com/Danimoth/gitattributes/blob/master/Java.gitattributes
# see also http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.csh           text
*.css           text
*.df            text
*.dtd           text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.lcf           text
*.md            text
*.php           text
*.pl            text
*.plist         text
*.properties    text
*.sh            text
*.shtml         text
*.svg           text
*.tld           text
*.txt           text
*.xml           text
*.xsd           text
*.xsl           text
Header          text
Footer          text
Sidebar         text
COPYING         text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.app           binary
*.class         binary
*.dll           binary
*.dylib         binary
*.ear           binary
*.gif           binary
*.GIF           binary
*.ico           binary
*.jar           binary
*.jnilib        binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.war           binary
*.wav           binary
