language: java

addons:
  apt:
    packages:
    - graphviz
 
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - export MAVEN_OPTS=-Xmx1536M
  - travis_wait 30 mvn test -P travis --batch-mode

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2

os:
  - linux
#  - osx # Travis OS X support does not include Java
