language: java

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script: 
 - travis_wait ant checklineends checknonascii ci-test 

jdk:
  - oraclejdk8
  
os:
  - linux
#  - osx # Travis OS X support does not include Java
