language: java

addons:
  apt:
    packages:
    - graphviz

before_install:
    # set Linux to use JDK 8, accept defaults on OS X
  - if [ "$TRAVIS_OS_NAME" == "linux" ] ; then jdk_switcher use "oraclejdk8" ; fi
    
before_script:
    # setup a display on linux ( the sleep gives xvfb some time to start )
  - if [ "$TRAVIS_OS_NAME" == "linux" ] ; then export DISPLAY=:99.0 ; sh -e /etc/init.d/xvfb start ; sleep 3 ; fi

script:
  - export MAVEN_OPTS=-Xmx1536M
  - mvn test -U -P travis --batch-mode

cache:
  directories:
  - $HOME/.m2

os:
  - linux
  - osx
