language: java

addons:
  apt:
    packages:
    - graphviz

before_install:
  # set Linux to use JDK 8, accept defaults on OS X
  - if [ "$TRAVIS_OS_NAME" == "linux" ] ; then jdk_switcher use "oraclejdk8" ; fi

before_script:
  # setup a display on linux ( the sleep gives xvfb some time to start )
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$HEADLESS" == "false" ]] ; then export DISPLAY=:99.0 ; sh -e /etc/init.d/xvfb start ; sleep 3 ; fi

script:
  - export MAVEN_OPTS=-Xmx1536m
  # run findbugs on headless
  - if [[ "$HEADLESS" == "true" ]] ; then travis_wait 20 mvn test -U --batch-mode -DskipTests=true -Djava.awt.headless=${HEADLESS} findbugs:check ; fi
  # run tests
  - if [[ "$HEADLESS" == "false" ]] ; then travis_wait 30 mvn test -U -P travis-coverage --batch-mode -Dant.jvm.args="-Djava.awt.headless=${HEADLESS}" -Djava.awt.headless=${HEADLESS} ; else travis_wait 30 mvn test -U -P travis --batch-mode -Dant.jvm.args="-Djava.awt.headless=${HEADLESS}" -Djava.awt.headless=${HEADLESS} ; fi

cache:
  directories:
  - $HOME/.m2

os:
  - linux
  - osx

env:
  matrix:
  - HEADLESS=true
  - HEADLESS=false

matrix:
  exclude:
  - os: osx
    env: HEADLESS=true
