<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- $Id: template-nosidebar.html,v 1.14 2011-06-21 18:37:29 matthewharris Exp $ -->
<html lang="en">
<head>
    <TITLE>
 	JMRI: ... TITLE ...
    </TITLE>
    <META content="YOUR NAME HERE" name=Author>
    <meta name="keywords" content="JMRI decoderpro dcc nmra">

    <!-- The combination of "Define" and {Header,Style, Logo and Footer} comments -->
    <!-- are an arbitrary design pattern used by the update.pl script to -->
    <!-- easily replace the common header/footer code for all the web pages -->

<!-- Style -->
  <META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" type="text/css" href="/css/default.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
  <link rel="icon" href="/images/jmri.ico" type="image/png">
  <link rel="home" title="Home" href="/">
<!-- /Style -->
</head>

<body>
    <p class="skipLink"><a href="#mainContent" accesskey="2">Skip to main content</a></p>

<!-- Header -->
    <div id="header">
	<!-- Logo -->
	<a href="/" title="Return to home page" accesskey="1">
	    <img src="/images/logo-jmri.gif" width="160" height="135" alt="JMRI Logo"> </a>
	<!-- /Logo -->
	<ul id="mainNav"> <!-- Top tool bar -->
	   <li><a href="/download/"  title="Get the latest software">Download</a></li>
	   <li><a href="/help/en/html/apps/index.shtml"      title="Learn about JMRI applications">Applications</a></li>
	   <li><a href="/help/en/html/hardware/index.shtml"  title="What hardware does JMRI support">Hardware</a></li>
	   <li><a href="/help/en/manual/index.shtml"   title="Trouble-shooting, and FAQs">Manual</a></li>
	   <li><a href="/help/en/html/doc/Technical/index.shtml" title="Developing and extending JMRI">Developers</a></li>
	   <li><A href="/community/" title="Who is JMRI">Acknowledgements</a></li>
	</ul>

	<div id="searchform"> <!--  Search Form -->
	  <form id="search" method="get" action="http://www.google.com/search">
	     <label for="q" title="Search JMRI.org">search JMRI: </label>
	    <input type="hidden" name="sitesearch" value="jmri.org">
	    <input type="text" id="q" name="q" accesskey="s" size="30">
	    <input type="submit" id="submit" value="go">
	  </form>
       </div> <!--  End #searchform -->
    </div> <!-- closes #header-->
<!-- /Header -->

    <hr class="hide">

    <div class="nomenu" id="mBody">
	<div id="mainContent">
	    <!-- -------- -->
	    <!--  Teaser  --> <!-- Optional -->
	    <!-- -------- -->

	    <div id="teaser">
		<h1>Optional Teaser</h1>
		    <p>A teaser is some text on the top of a page that describes something
		    interesting - maybe a What's New item or other important anouncement
		    dealt with in detail later on on this page... </p>

		    <p class=important>
		    	Check out the
				<a href="../css">CSS examples page</a>
			for more markup examples
		    </p>
	    </div> <!-- closes #teaser-->

	    <!-- -------- -->
	    <!-- Page TOC --> <!-- Optional -->
	    <!-- -------- -->

	    <H1>Optional Table of Contents </H1>
	    <p> For a complicated page - like a user guide or technical reference </p>
	    <dl class=toc>
		<dt><a href="#topic1">TOC entry 1</a></dt>
		<dt><a href="#topic2">TOC entry 2</a></dt>
		<dd>Some descriptive info about this TOC entry</dd>
		<dt><a href="#topic3">TOC entry 3</a></dt>
		<dd>
		    <ol>
		    <li> a list of sub items </li>
		    <li> a list of sub items </li>
		    <li> a list of sub items </li>
		    <li> a list of sub items </li>
		    </ol>
		</dd>
		<dt><a href="#topic4">TOC entry 4</a></dt>
		<dd>Some info about this TOC entry</dd>
	    </dl>
	    <p>Alternatively, a simpler page may only need a simple TOC:</p>
	    <ul class=snav>
		<li><a href="#topic1">TOC entry 1</a></li>
		<li><a href="#topic2">TOC entry 2</a></li>
		<li><a href="#topic3">TOC entry 3</a></li>
		<li><a href="#topic4">TOC entry 4</a></li>
	    </ul>
	    <p>Choose one (or neither) ...</p>

	    <!-- ------------- -->
	    <!-- Page Contents --> <!-- Required -->
	    <!-- ------------- -->

	    <H1>Page TITLE repeated here</H1>
		<p class=subtitle>
		    subtitles are used as the first paragraph under a main
		    heading - if at all
		</p>

		<div class=para>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		</div>

		<div class=para>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		<p>Random text Random text Random text Random text Random text</p>
		</div>

		<div class=section>
		    <h2>Examples</h2>

		    <div class=para>
		    <p>Sections are used for indenting and outlines</p>
		    <p>H2 Content</p>
		    <p>Random text Random text Random text Random text Random text</p>
		    <p>Random text Random text Random text Random text Random text</p>
		    <p>Random text Random text Random text Random text Random text</p>
		    <p>Random text Random text Random text Random text Random text</p>
		    </div>

		    <div class=para>
			<p class=example>Use a p.example with kbd tags to show examples
<kbd class=command>
@files = getfilenames($dir);
foreach $f (@files) {
	processfile($f);
}
</kbd></p>

			<p class=mice>mice text is for editorial comments and the like</p>
			<p class=remark>Remarks get stuff before and after.</p>
			<p class=note> Notes get a "Note:" prepended.</p>

		    </div>

		    <div class=section>
			<H3> H3 Section Title </H3>
			<div class=para>
			    <p>H3 Content</p>
			    <p> ... etc ... </p>
			</div>
			<div class=section>
			    <H4> H4 Section Title </H4>
			    <div class=section>
				<H5> H5 Section Title </H5>
			    </div>
			</div>
		    </div>
		</div>

		<div class=list>
		<h1>List header</h1>
		<p> Lists are used to display single level outlines that benefit from
		    a "topic and discussion" type of display.</p>
		<dl>
		    <dt class="left">Topic</dt>
		    <dd class=first>
			<p>discussion</p>
		    </dd>

		    <dt class="left">Topic</dt>
		    <dd>
			<p> Lists can have sections in them as well...</p>

			<H1> Section Title </H1>
			H1 Content
			<div class=section>
			    <H2> Section Title </H2>
			    H2 Content
			    <div class=section>
				<H3> Section Title </H3>
				H3 Content ... etc ...
			    </div>
			</div>
		    </dd>

		</dl>
		</div>

<!-- Footer -->
    <hr class="hide">
    <div id="footer">
	<ul id="bn">
	<li><a href="/contact/">Contact Us</a></li>
	</ul>

	<p>Thanks and congratulations to
	   <A href="/community/" title="Who is JMRI">
	   	all who contributed</A>! </p>

	<p>Copyright &copy; 1997 - 2004 JMRI Community. 
	<P>JMRI, DecoderPro, PanelPro, DispatcherPro and associated logos are our trademarks.
	<P><A href="/Copyright.html">Additional information on copyright, trademarks and licenses is linked here.</a></p>
    
       <BR/>Site hosted by: <BR/>
        <A href="http://sourceforge.net"> 
        <IMG src="http://sourceforge.net/sflogo.php?group_id=26788&amp;type=1" width="88" height="31" border="0" alt="SourceForge Logo"> </A> 


    </div>
<!-- /Footer -->

	  </div><!-- closes #mainContent-->
	</div> <!-- closes #mBody-->
</body>
</html>

