
html {
      width:100%;
}

body {
      width:100%;
	  margin:0px auto;
      background-color:White;
      text-align:center;
      font-family:Tahoma,Arial,Helvetica,sans-serif;
      font-size:100%;
}

table.rosterTable {
	border-collapse: collapse;
	margin: 2em;
}

table.rosterTable td {
	border-width:1px;
	border-style:solid; 
	border-color:LightGray;
	cursor: pointer;
}
table.rosterTable tr.detail:hover {
      background-color:Gainsboro;
}
table.rosterTable td.comment {
	font-size: 60%;
}

table.rosterTable td.mfg, table.rosterTable td.model {
	white-space:nowrap;
}

.ifrm1 {
      vertical-align:text-top;
      border:1px solid black;
}
