RewriteEngine on

# Provide redirects for removed pages

RewriteRule ^cmri/CMRI\.shtml /help/en/html/hardware/cmri/CMRI.shtml [R=301,L]
RewriteRule ^cmri/Signals\.shtml /help/en/html/hardware/cmri/Signals.shtml [R=301,L]
RewriteRule ^CMRI\.html /help/en/html/hardware/cmri/CMRI.shtml [R=301,L]
RewriteRule ^Digitrax\.html /help/en/html/hardware/loconet/Digitrax.shtml [R=301,L]
RewriteRule ^DigitraxPower/index\.html /help/en/html/hardware/loconet/DigitraxPower/index.shtml [R=301,L]
RewriteRule ^DigitraxPower/index\.shtml /help/en/html/hardware/loconet/DigitraxPower/index.shtml [R=301,L]
RewriteRule ^EasyDCC\.html /help/en/html/hardware/easydcc/EasyDCC.shtml [R=301,L]
RewriteRule ^Fleischmann\.html /help/en/html/hardware/loconet/Fleischmann.shtml [R=301,L]
RewriteRule ^index\.html /help/en/html/hardware/index.shtml [R=301,L]
RewriteRule ^KeyspanUSB\.html /help/en/html/hardware/loconet/KeyspanUSB.shtml [R=301,L]
RewriteRule ^LbServer\.html /help/en/html/hardware/loconet/LbServer.shtml [R=301,L]
RewriteRule ^LocoBuffer\.html /help/en/html/hardware/loconet/LocoBuffer.shtml [R=301,L]
RewriteRule ^LocoBufferII\.html /help/en/html/hardware/loconet/LocoBufferII.shtml [R=301,L]
RewriteRule ^LocoBufferUSB\.html /help/en/html/hardware/loconet/LocoBufferUSB.shtml [R=301,L]
RewriteRule ^LocoNetServer\.html /help/en/html/hardware/loconet/LocoNetServer.shtml [R=301,L]
RewriteRule ^LocoNetSim\.shtml /help/en/html/hardware/loconet/LocoNetSim.shtml [R=301,L]
RewriteRule ^LocoNetworking\.html /help/en/html/hardware/loconet/LocoNetworking.shtml [R=301,L]
RewriteRule ^MacintoshSerialPorts\.html /help/en/html/hardware/MacintoshSerialPorts.shtml [R=301,L]
RewriteRule ^MS100\.html /help/en/html/hardware/loconet/MS100.shtml [R=301,L]
RewriteRule ^NCE\.html /help/en/html/hardware/nce/NCE.shtml [R=301,L]
RewriteRule ^OakTree\.html /help/en/html/hardware/oaktree/OakTree.shtml [R=301,L]
RewriteRule ^PDA\.html /help/en/html/hardware/PDA.shtml [R=301,L]
RewriteRule ^SPROG\.html /help/en/html/hardware/sprog/SPROG.shtml [R=301,L]
RewriteRule ^TerminalServer\.html /help/en/html/hardware/TerminalServer.shtml [R=301,L]
RewriteRule ^tmcc/index\.shtml /help/en/html/hardware/tmcc/index.shtml [R=301,L]
RewriteRule ^Uhlenbrock\.html /help/en/html/hardware/loconet/Uhlenbrock.shtml [R=301,L]
RewriteRule ^USBtoSerial\.html /help/en/html/hardware/USBtoSerial.shtml [R=301,L]
RewriteRule ^Wangrow\.html /help/en/html/hardware/nce/Wangrow.shtml [R=301,L]
RewriteRule ^XPressNet/CreateXNetLogFile\.shtml /help/en/html/hardware/XPressNet/CreateXNetLogFile.shtml [R=301,L]
RewriteRule ^XPressNet/index\.shtml /help/en/html/hardware/XPressNet/index.shtml [R=301,L]
RewriteRule ^XPressNet/LI101Configurationtool\.shtml /help/en/html/hardware/XPressNet/LI101Configurationtool.shtml [R=301,L]
RewriteRule ^XPressNet/LZV100Configurationtool\.shtml /help/en/html/hardware/XPressNet/LZV100Configurationtool.shtml [R=301,L]
RewriteRule ^XPressNet/XNetAddressing\.shtml /help/en/html/hardware/XPressNet/XNetAddressing.shtml [R=301,L]
RewriteRule ^XPressNet/XNetSystemInformationtool\.shtml /help/en/html/hardware/XPressNet/XNetSystemInformationtool.shtml [R=301,L]
RewriteRule ^Zimo\.html /help/en/html/hardware/zimo/Zimo.shtml [R=301,L]

