Manifest-Version: 1.0
Main-Class: jmri.Version
Class-Path: java/classes jmriplugins.jar lib/jmriplugins.jar jmri.jar lib/RXTXcomm.jar lib/Serialio.jar lib/ch.ntb.usb.jar lib/comm-rxtx.jar lib/comm.jar lib/xercesImpl.jar lib/gluegen-rt.jar lib/javacsv.jar lib/jdom.jar lib/jhall.jar lib/jinput.jar lib/jmdns.jar lib/joal.jar lib/openlcb.jar lib/jlfgr-1_0.jar lib/jython.jar lib/log4j.jar lib/servlet.jar lib/vecmath.jar lib/activation.jar lib/mailapi.jar lib/smtp.jar lib/junit.jar lib/jfcunit.jar lib/jakarta-regexp-1.5.jar lib/WinRegistry-4.4.jar

Name: jmri
Specification-Title: “Java Model Railroad Interface Classes”
Specification-Version: “@VERSION@”
Specification-Vendor: “JMRI”
Package-Title: “jmri”
Package-Version: “@VERSION@”
Package-Vendor: “JMRI”

Name: apps
Specification-Title: “JMRI Application Classes”
Specification-Version: “@VERSION@”
Specification-Vendor: “JMRI”
Package-Title: “apps”
Package-Version: “@VERSION@”
Package-Vendor: “JMRI”
