/* stylesheet for CarsServlet */

.jumbotron {
    padding: 0;
    margin-bottom: 0;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: "\00A0\25AA" 
}

table.sortable th:hover {
	cursor: pointer;
}

table>tbody>tr>td {
    vertical-align: middle;
}

table>tbody>tr:hover {
    cursor: pointer;
    background: #ddd;
    font-weight: bold;
}

h1.title {
    font-size: 2em;
    display: inline-block;
}

input#searchBox {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 0.75em;
}

span#filter-text {
    float: right;
}

/* hide data-only elements */
th.trainId, th.locationId, th.trackId, th.locationUnknown, th.outOfService,
td.trainId, td.locationId, td.trackId, td.locationUnknown, td.outOfService,
#modal-car-edit-other-data {
    display: none;
}

.modal-cars-edit-box {
    border: 1px solid lightgrey;
    padding: 1em;
}