/* For 'inControl.html' */

/* Generic ****************************************************************************************/
html {
	background-color:gainsboro;
}

body {
	background-color:gainsboro;
	font-family:sans-serif;
}

.powerUndefined {
	background-color:gainsboro;
}

.powerOff {
	background-color:tomato;
}

.powerOn {
	background-color:palegreen;
}

#throttles, #powerButton, #settingsButton, #imgPlusPlus, #imgPlus, #imgMinus, #imgMinusMinus, #divRSF, #functions, #imgSettingsLocoTrash {
	position:absolute;
}

.buttons {
	padding:2px;
	cursor:pointer;
}

.pointer {
	cursor:pointer;
}

/* Turnouts and Routes ****************************************************************************/
.TurnoutsRoutes {
	position:absolute;
	overflow:hidden;
	background-color:darkslategrey;
    margin:2px;
    padding:2px;
	color:white;
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	cursor:pointer;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.lblTurnoutsRoutes {
	float:left;
    padding:2px;
	cursor:pointer;
}

.TurnoutsRoutesStatus {
	float:right;
    padding:2px;
	cursor:pointer;
}

.TRon {
	color:lime;
}

.TRoff {
	color:red;
}

.TRundefined {
	color:yellow;
}

.TRdisabled {
	color:grey;
}

/* Multi throttles ********************************************************************************/
#throttles {
	overflow:hidden;
}

.throttles {
	position:absolute;
	margin:1px;
	border:1px solid lightslategrey;
	padding:1px;
}

/* Throttle ***************************************************************************************/
#throttle {
/*	overflow:hidden; */
/* Removed - <select> does not work on android 2.2 */
}

/* Loco info **************************************************************************************/
#locoInfo {
	position:absolute;
	overflow:hidden;
}

#selLocoList {
	position:absolute;
	border:1px solid grey;
    background-color:white;
    color:black;
}

/* Loco Image *************************************************************************************/
#locoImage {
	position:absolute;
	text-align:center;
	overflow:hidden;
}

/* Speed control **********************************************************************************/
#speed {
	position:absolute;
	white-space:nowrap;
}

#divSpeed {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

/* Functions **************************************************************************************/
.functions {
	position:absolute;
	padding:2px;
	text-align:center;
	cursor:pointer;
}

.lblFunctions {
	background-color:darkorange;
    padding:1px;
	color:black;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.lblFunctionsUnPressed {
	background-color:darkred;
	color:white;
}

.lblFunctionsPressed {
	background-color:darkgreen;
	color:white;
}

.imgFunctions {
	position:absolute;
	cursor:pointer;
}

/* Settings ***************************************************************************************/
#settings, #settingsLoco, #chooseImage, #queryString, #help {
	background-color:black;
	color:white;
	position:absolute;
	overflow:hidden;
}

#SettingsTitle, #SettingsLocoTitle, #ChooseImageTitle, #QueryStringTitle, #HelpTitle {
	position:absolute;
	width:100%;
	border-bottom:1px solid white;
}

#lblSettingsTitle, #lblSettingsLocoTitle, #lblChooseImageTitle, #lblQueryStringTitle, #lblHelpTitle {
	position:absolute;
	float:left;
	text-align:left;
	font-weight:bold;
}

#imgSettingsClose, #imgSettingsLocoClose, #imgChooseImageClose, #imgQueryStringClose, #imgHelpClose {
	float:right;
}

#divSettingsParams, #divSettingsLocoParams, #divChooseImageList, #divQueryStringText, #divHelpText {
	position:absolute;
    padding:2px;
	text-align:left;
	overflow:auto;
}

.divSettingsParamsSpace {
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.divSettingsParams {
	border-bottom:1px solid dimgrey;
    padding-top:2px;
    padding-bottom:2px;
}

.divSettingsParamsClick {
    padding-top:2px;
    padding-bottom:2px;
}

.settingsOptions {
	float:right;
}

.settingsLabelsFi {
	font-size:80%;
}

.settingsInputText {
	color:lightslategrey;
}

#lblSettingsLocoFunctionsMinus {
	background-color:lightslategrey;
	color:black;
	border:2px solid grey;
    padding:1px;
	font-family:monospace;
	cursor:pointer;
}

#lblSettingsLocoFunctionsValue {
	background-color:black;
	border:2px solid grey;
    padding:1px;
	text-align:center;
	font-family:monospace;
}

#lblSettingsLocoFunctionsPlus {
	background-color:lightslategrey;
	color:black;
	border:2px solid grey;
    padding:1px;
	font-family:monospace;
	cursor:pointer;
}

.settingsCheckboxes {
	font-family:monospace;
}
