body {
	font-family:calibri,trebuchet ms,helvetica,sans-serif;
}
pre {
	margin: 0;
	padding: 0;
}
table {
border-collapse:collapse;
border-spacing:0;
empty-cells:show;
margin:0 auto 12px;
text-align:left;
}
th {
border-bottom:1px solid;
font-size: 75%;
font-weight:bold;
line-height:0.9em;
padding-left:8px;
padding-right:8px;
text-align:left;
}
td {
border-bottom:1px solid #cccccc;
line-height:1.1em;
padding:0 4px;
}
button#btnSend {
	font-size: 2em;
	block: display;
/*	float:left;*/
}
table#samples tr:hover {
	cursor: pointer;
	background-color: yellow; 
}
div.output {
	float:left;
		}
div.output{
	padding: 10px;
	margin: 10px;
	border: solid 1px;
}
div.label{
	font-size: 80%;
	font-style:italic;
	margin-top: -8px;
	margin-left: -8px;
}
