/* stylesheet for specific needs of the Operations-related pages */

ul ul {
	padding-left: 2%;
}
h1 {
	font-size: 125%;
	padding-top: 2px;
	padding-bottom: 2px;
}
ul.manifest>li.location, ul.manifest>li.aboard {
	font-size: 150%;
}
ul.manifest>li.location:hover {
	background: rgb(229, 229, 229); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(229,
		229, 229, 1) ), color-stop(100%, rgba(255, 255, 255, 1) ) );
	background: -webkit-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* IE10+ */
	background: linear-gradient(to right, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* W3C */
}

ul.manifest>li.location>ul:hover {
	font-style: normal;
}
ul.manifest>li.location>ul, ul.manifest>li.aboard>ul {
	font-size: 75%;
}
ul.manifest {
	white-space: nowrap;
}
ul.manifest>span.comment {
	font-style: italic;
}
ul.manifest>li.location>ul.cars>li.car>span.roadNumber {
	font-size: 125%;
}
ul.manifest>li.location>ul.cars>li.car>span.trackName {
	font-size: 125%;
}
ul.manifest li.car.actionCompleted {
	font-size: 80%;
	opacity: 0.5;
}
ul.manifest img.actionComplete {
	display: none;
}
ul.manifest li.car.actionCompleted img.actionComplete {
	display: inline;
}

/* hide non-critical elements if the screen is narrow */
@media only screen and (max-width: 480px) {
  .hideable {
    display :none;
  }
}
ul.manifest>li>ul>li {
	list-style: none;
}
ul.manifest li.location.complete {
	font-size: 130%;
    line-height: 100%;
    opacity: 0.5;
}

#operationsFooter {
	clear: both;
}