/* stylesheet for specific needs of the Operations-related pages */

ul ul {
	padding-left: 2%;
}
h1 {
	font-size: 125%;
	padding-top: 2px;
	padding-bottom: 2px;
}
ul.manifest>li.location {
	font-size: 150%;
}
ul.manifest>li.location:hover {
	background: rgb(229, 229, 229); /* Old browsers */
	background:
/*		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
	background: -moz-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(229,
		229, 229, 1) ), color-stop(100%, rgba(255, 255, 255, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* IE10+ */
	background: linear-gradient(to right, rgba(229, 229, 229, 1) 0%,
		rgba(255, 255, 255, 1) 100% ); /* W3C */
}

ul.manifest>li.location>ul:hover {
	font-style: normal;
}
ul.manifest>li.location>ul {
	font-size: 75%;
}
ul.manifest {
	white-space: nowrap;
}
ul.manifest>span.comment {
	font-style: italic;
}
ul.manifest>li.location>ul.cars>li.car>span.roadNumber {
	font-size: 125%;
}
ul.manifest>li.location>ul.cars>li.car>span.trackName {
	font-size: 125%;
}
ul.manifest li.car.actionCompleted {
	font-size: 80%;
	opacity: 0.5;
}
ul.manifest img.actionComplete {
	display: none;
}
ul.manifest li.car.actionCompleted img.actionComplete {
	display: inline;
}

/* hide non-critical elements if the screen is narrow */
@media only screen and (max-width: 480px) {
  .hideable {
    display :none;
  }
}
ul.manifest>li>ul>li {
	list-style: none;
}
