
table.rosterTable {
	border-collapse: collapse;
	margin: 2em;
}

table.rosterTable td {
	cursor: pointer;
    white-space: nowrap;
}

table.rosterTable tr.detail:hover {
      background-color:Gainsboro;
}
table.rosterTable td.comment {
	font-size: 60%;
}

.ifrm1 {
      vertical-align:text-top;
      border:1px solid black;
}
