/* stylesheet for specific needs of showPanel.html */

body {
	font-family: sans-serif;
}
.rotatable {
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}
.clickable:hover {
  cursor: pointer;
  border: solid 1px lightGray;
  margin: -1px;
}
.positionablelabel.text.hidden {
  display: none;
}
.locoicon {
  min-width:  60px;
  width:  60px;
  min-height: 20px;
  line-height: 20px;
/*  text-align: center;
  vertical-align: middle; */
  padding-left: 6px;
  background-repeat:no-repeat;
}
div#panelFooter {
	margin: 8px;
}

div#panelFooter a {
	padding: 8px 8px 4px 8px;
	font-style: italic;
	text-decoration: none;
}

div#panelFooter a:hover {
	text-decoration: underline;
}

div#panelFooter span.info {
	font-size: 80%;
	font-style: italic;
}

div.MemoryInputIconXml, div.MemorySpinnerIconXml {
	paddinxg: 1px 1em 1px 1em;
	border:  solid black 1px;
	min-width: 4em;
	text-align: center;
}

.modal {
    display:    none;
    position:   fixed;
    font-size:	2em;
    z-index:    1000;
    top:        0;
    left:       0;
    padding: 	50px;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .90 ); 
}