BODY {
	background: #DFEFFF;
	margin-left: .125 in;
	margin-right: .125 in;
	font-family:  Chicago, Helvetica, sans-serif;
	font-size: 13 pt;
	color: #000000;
	}


H1 {
	text-align: center;
	font-family: "Times Roman", Times, serif;
	font-size: 20 pt;
	font-style: italic;
	font-weight: bold;
	}

H2 {
	text-align: center;
	font-family: "Times Roman", Times, serif;
	font-size: 18 pt;
	font-style: italic;
	font-weight: bold;
	}

H3 {
	text-align: center;
	font-family: "Times Roman", Times, serif;
	font-size: 16 pt;
	font-style: normal;
	font-weight: bold;
	}


H4 {
	text-align: left;
	font-family: "Times Roman", Times, serif;
	font-size: 14 pt;
	font-style: italic;
	font-weight: bold;
	margin-left: .25in;
	margin-top: .1in;
	}

H5 {
	text-align: center;
	font-family: "Times Roman", Times, serif;
	font-size: 12 pt;
	font-style: normal;
	}

DIV.BOXIT	{
	border: black .3cm double;
	background-color: #FFFFFF;
	color: black;
	padding: 25px;
	margin: .125in, .125in, .125in, .125in;
	}


P.BOXIT {
	border: black .3cm double;
	background-color: #FFFFFF;
	color: black;
	padding: 25px;
	}

HR {
	height: 8pt;
	width: 100%;
	color: #0000FF;
	background-color: #0000FF;
	padding: 5px;
	}


P {
	text-indent: .125in;
	margin: .125in;
	}


SPAN.UPDATE {
	color: #0051a2;
	font-style: italic;
	font-weight: bold;
	}

SPAN.ACCENT {
	color: #FF0000;
	text-weight: bold;
	}

SPAN.BOXIT {
	border: black .3cm double;
	background-color: #FFFFFF;
	color: black;
	padding: 25px;
	}

