# Provide redirects for removed pages
RewriteEngine on
RewriteRule "^history\.html"    "/releasenotes/history.shtml" [R=301,L]
RewriteRule "^jmri1\.1\.14\.html" "/releasenotes/jmri1\.1.14.shtml" [R=301,L]
RewriteRule "^jmri1\.2\.5\.html"  "/releasenotes/jmri1\.2.5.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.10\.html" "/releasenotes/jmri1\.3.10.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.11\.html" "/releasenotes/jmri1\.3.11.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.12\.html" "/releasenotes/jmri1\.3.12.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.13\.html" "/releasenotes/jmri1\.3.13.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.8\.html" "/releasenotes/jmri1\.3.8.shtml" [R=301,L]
RewriteRule "^jmri1\.3\.9\.html" "/releasenotes/jmri1\.3.9.shtml" [R=301,L]
RewriteRule "^jmri1\.4\.html"   "/releasenotes/jmri1\.4.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.2\.html" "/releasenotes/jmri1\.5.2.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.3\.html" "/releasenotes/jmri1\.5.3.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.4\.html" "/releasenotes/jmri1\.5.4.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.5\.html" "/releasenotes/jmri1\.5.5.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.6\.html" "/releasenotes/jmri1\.5.6.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.7\.html" "/releasenotes/jmri1\.5.7.shtml" [R=301,L]
RewriteRule "^jmri1\.5\.8\.html" "/releasenotes/jmri1\.5.8.shtml" [R=301,L]
RewriteRule "^jmri1\.6\.1\.html" "/releasenotes/jmri1\.6.1.shtml" [R=301,L]
RewriteRule "^jmri1\.6\.html"   "/releasenotes/jmri1\.6.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.1\.html" "/releasenotes/jmri1\.7.1.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.2\.html" "/releasenotes/jmri1\.7.2.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.3\.html" "/releasenotes/jmri1\.7.3.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.4\.html" "/releasenotes/jmri1\.7.4.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.5\.html" "/releasenotes/jmri1\.7.5.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.6\.html" "/releasenotes/jmri1\.7.6.shtml" [R=301,L]
RewriteRule "^jmri1\.7\.7\.html" "/releasenotes/jmri1\.7.7.shtml" [R=301,L]
