<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>jmri.nightlybuild</string>
        <key>WorkingDirectory</key>
        <string>/Users/jake/Documents/Trains/JMRI/projects/nightly/java</string>
		<key>LowPriorityIO</key>
		<true/>
		<key>Nice</key>
		<integer>1</integer>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>2</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <key>ProgramArguments</key>
        <array>
                <string>/Users/jake/nightlybuild.csh</string>
        </array>
        <!-- <key>StartInterval</key> -->
        <!-- <integer>1200</integer> -->
</dict>
</plist>
