/* For 'Scan2BeInControl.html' */

/* Generic ****************************************************************************************/
html, body {
	background-color:white;
    color:black;
}

body {
	font-family:sans-serif;
}

table {
	width:100%;
}

td {
	padding:10px;
}

hr {
	background-color:transparent;
	border-width:0 0 2px 0;
	border-style:dashed;
}

.pointer {
	cursor:pointer;
}

/* Items ******************************************************************************************/
#help {
    color:blue;
	font-weight:bold;
	text-align:right;
}

#first, #roster, #frames {
	width:100%;
}

.divFirst, .divLoco, .divFrame {
	margin:10px;
}		

.imgLoco, .titleLoco, .lnkLoco, .infoLoco, .imgFrame, .titleFrame, .lnkFrame {
	display:inline;
}		

.selLoco {
    color:navy;
	font-weight:bold;
}

/* For screen only ********************************************************************************/
@media screen, handheld {

	.noScreen {
		display:none;
	}

}

/* For print **************************************************************************************/
@media print {

	.noPrint {
		display:none;
	}

}
