/* Application-specific CSS for JMRIMobile */
.float-right {  float: right; }
.float-left {  float: left; }
.float-clear {  clear: both; }

body {
  max-width: 480px;	
}
.ui-footer .ui-btn {
	  margin: 0 !important;
}
.ui-footer.ui-bar {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
}
.ui-mobile .ui-page, .ui-header, .ui-footer {
	  max-width: 480px;
}
.ui-content .ui-listview {
  margin-bottom: 15px !important;
}
ul.roster-list .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
img.ui-li-thumb {
	z-index: -1;
}
a.ui-link-inherit.two-line-item {
    padding-top: 0.2em !important; 
    padding-bottom: 0.2em !important; 
}

.valueText {
  margin-top: auto;
  margin-bottom: auto;	
}

/* reported to improve speed, but I didn't see it on my devices 
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none !important;
 box-shadow: none !important;
 -webkit-box-shadow: none !important;
}
*/
