/* 
    Document   : miniServer-plain
    Created on : Dec 3, 2011, 11:06:30 AM
    Author     : rhwood
    Description: Minimal stylesheet for clients that want only the ajax-frame
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.frame-footer {
    display: none;
}

div#frame_image_wrapper:hover {
	cursor: pointer;
}
