# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
        # SpotBugs configuration is in pom.xml
        mvn clean test -U -P travis-spotbugs --batch-mode --file=pom.xml
        # run Javadoc
        mvn javadoc:javadoc -U --batch-mode --file=pom.xml
        # check html
        mvn exec:exec -P travis-scanhelp --file=pom.xml
        #run Architecture tests
        mvn -Dtest=jmri.ArchitectureTest,jmri.util.FileLineEndingsTest test --file=pom.xml
